body {
  font-family: sans-serif;
  font-size: 16px;
}
.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.main {
  color: black;
}
.main__heading {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
.table__container{
  padding: 50px;  
}
.table__country {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.table__head-row {
  border: 2px solid black;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
  cursor: pointer; 
}
.table__content-row {
  height: 1.5rem;
  font-size: 0.725rem;
  transition: height 0.3s;

  &--bg-lightgrey{
    background-color: lightgrey;
  }
  &--bg-white{
    background-color: white;
  }

  &:hover {
    background-color: yellowgreen;
    height: 2rem;
    font-weight: bold;
  }
}
.table__content-cell {
  vertical-align: middle;
  text-align: left;
  border: 1px solid rgb(110, 110, 110);
  text-indent: 8px;
}
.table__paginator {
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  justify-content: flex-end; 
  padding: 10px 0;
}

.table__page-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  min-width: 20px;
  padding: 4px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
  &--active {
    background-color: rgb(43, 43, 43);
    color: white; 
  }
  &:not(.table__page-button--more):hover {
    background-color: grey;
  }
  &--more {
    cursor: default;  
  }
}